#gallery {
  display: flex;
}

.gallery_item {
  list-style: none;
  padding: 10px;
  width: 33%;
}

img {
  height: 350px;
  width: 100%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
